# Django
SECRET_KEY=django-dev-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DATABASE_URL=postgres://postgres:postgres@db:5432/cinema

# TMDb
TMDB_API_KEY=your_tmdb_api_key
TMDB_API_TOKEN=your_tmdb_api_token

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@example.com