# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# =========================
# Media files
# =========================
media/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example
!.env.docker.example

# =========================
# Static files (jeśli używasz collectstatic)
# =========================
staticfiles/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Type checking
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary files
# =========================
*.swp
*.swo
*~